.ItemDetailContainer {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
}

h1 {
    font-size: 40px;
    padding-top: 40px;
    color: #f5a630;
}