.CartWidget {
    width: auto;
    padding: 8px 8px;
    font-size: 8px;
    background: #f5a630;
    border-radius: 16px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    outline: inherit;
    font-size: medium;
    
}

.CartImg {
    margin-right: 5px;
    height: 22px;
}